<form class="mt-4" (ngSubmit)="login()" [formGroup]="loginForm">
    <legend>Welcome to SVTickets!</legend>

    <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required />
    </div>
    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password"required />
    </div>
    
    <button googleLogin class="google-btn">
        <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google Logo">
        <span>Continue with Google</span>
    </button>

    <p class="text-danger" id="errorInfo"></p>
    <a class="btn btn-secondary" href="/auth/register" role="button">Create account</a>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
