<div class="row mt-4" id="profile">
    <div class="col-3">
        <div>
            <img class="w-100" id="avatar" [src]="user().avatar" [alt]="user().name" />
            @if (user().me) {
                <label class="btn btn-sm btn-danger">
                    <i class="bi bi-image"></i>
                    <input type="file" id="photoInput" class="d-none" />
                </label>
            }
        </div>
    </div>

    <div class="col-9" id="profileInfo">
        <h4 id="name">{{ user().name }}</h4>
        <h4 id="email">
            <small class="text-muted">{{ user().email }}</small>
        </h4>
        @if (user().me) {
            @if (showProfileInfo()) {
                <div>
                    <button class="btn btn-primary" id="editProfile">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Edit profile
                    </button>
                    <button class="btn btn-success" id="editPassword">
                        <i class="fa-solid fa-lock"></i>
                        Edit password
                    </button>
                </div>
            }
        }
    </div>

    @if (showProfileForm()) {
        <div class="col-9" id="profileForm">
            <form>
                <div class="mb-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email2" placeholder="Email" />
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" id="name2" placeholder="Name" />
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-danger" id="cancelEditProfile">Cancel</button>
            </form>
        </div>
    }

    @if (showPasswordForm()) {
        <div class="col-9" id="passwordForm">
            <form>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
                    <label for="password2">Repeat password:</label>
                    <input type="password" class="form-control" name="password2" id="password2"
                        placeholder="Repeat password" />
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-danger" id="cancelEditPassword">Cancel</button>
            </form>
        </div>
    }
</div>

<ol-map [coordinates]="[user().lat, user().lng]" style="margin-top: 20px;">
    <ol-marker [coordinates]="[user().lat, user().lng]"></ol-marker>
</ol-map>

<a [routerLink]="['/events']" [queryParams]="{ creator: user().id }">Created events</a>
<a [routerLink]="['/events']" [queryParams]="{ attending: user().id }">Attended events</a>
